<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Pasión Bajo los Tres Palos - Mi Tributo al Dibu Martínez</title>
    <meta name="description" content="Mi homenaje personal a Emiliano 'Dibu' Martínez, un recorrido por sus momentos más emocionantes, su personalidad y el impacto en los hinchas argentinos.">
    <meta name="keywords" content="Dibu Martínez, Emiliano Martínez, arquero Argentina, fútbol, pasión, atajadas, Mundial, homenaje, fan">
    <meta name="author" content="hernan arana">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="fondo-negro">
        <div class="fondo-animado">
            <img src="../img/el dibu 88.jpg" alt="Foto de Dibu Martínez">
        </div>

        <nav class="navegacion-principal">
            <ul>
                <li><a href="index.html">El Dibu</a></li>
                <li><a href="Biografia.html">Biografia</a></li>
                <li><a href="mas_alla_de_la_cancha.html">Más Allá de la Cancha</a></li>
                <li><a href="un_legado_en_construccion.html">Un Legado en Construccion</a></li>
                <li><a href="mi_tributo.html">Mi Tributo</a></li>
            </ul>
        </nav>

        <header class="hero">
            <div class="hero-text-container">
                <h1 class="hero-title">Emiliano Martinez</h1>
                <p class="hero-subtitle">La locura es un don,abre horizontes que la razón no puede alcanzar...</p>
            </div>
        </header>

        

        <footer class="pie-de-pagina">
            <div class="redes-sociales">
                <a href="https://www.instagram.com/emimartinezz1/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.tiktok.com/@emimartinezz1" target="_blank" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
                <a href="https://www.youtube.com/results?search_query=dibu+martinez" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                <a href="https://twitter.com/emimartinezz1" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
            </div>
            <p>© 2025 Dibu Martínez x Hernan Arana</p>
        </footer>
    </div>
    <script src="../js/scripts.js"></script>
</body>
</html>