<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un Legado en Construcción - El Futuro de Emiliano Martínez</title>
    <meta name="description" content="Reflexiones sobre el legado de Emiliano 'Dibu' Martínez y las expectativas para su futuro en el fútbol.">
    <meta name="keywords" content="Dibu Martínez, legado, futuro, carrera, expectativas, Argentina, fútbol">
    <meta name="author" content="hernan arana">



    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">







    


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="../style.css">
</head>
<body>
   

    <nav class="navegacion-principal">
        <ul>
            <li><a href="../index.html">El Dibu</a></li>
            <li><a href="./Biografia.html">Biografía</a></li>
            <li><a href="./mas_alla_de_la_cancha.html">Más Allá de la Cancha</a></li>
            <li><a href="./un_legado_en_construccion.html">Un Legado en Construcción</a></li>
            <li><a href="./mi_tributo.html">Mi Tributo</a></li>
        </ul>
    </nav>

    <header class="hero-secondary">
        <div class="hero-text-container">
            <h1>Mas alla de la cancha</h1>
            <p class="hero-subtitle">Mejores videos del Dibu donde demuestra porque es un referente Argentino.</p>
        </div>
    </header>

    <main class="main-content">
        
        <section class="videos">
            <h2>Videos Destacados</h2>

            <!-- Video 1: La emoción de Dibu Martínez por el pase a semifinales de la Copa América 2024 -->
            <div class="video-container">
                
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/n_zIo0EL3EA?autoplay=1&loop=1&playlist=n_zIo0EL3EA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


            </div>

            <!-- Video 2: Entrevista exclusiva con Dibu y Sofi Martínez -->
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UXA4m3LLNGE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- Video 3: Impresionantes atajadas de Dibu Martínez en la Copa América 2024 -->
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wMsGeCD2RGQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- Video 4: Atajadas de Dibu Martínez en la Copa América 2021 y 2024 -->
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dnkRhVycdIE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <!-- Video 5: Entrevista completa con Dibu Martínez -->
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/nYyDADiwwGw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>
    </main>

    <footer class="pie-de-pagina">
        <div class="redes-sociales">
            <a href="https://www.instagram.com/emimartinezz1/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@emimartinezz1" target="_blank" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
            <a href="https://www.youtube.com/results?search_query=dibu+martinez" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            <a href="https://twitter.com/emimartinezz1" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        </div>
        <p>© 2025 Dibu Martínez x Hernan Arana</p>
    </footer>

    <script src="../js/scripts.js"></script>
</body>
</html>